.Home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
}
.sidebar{
    display: flex;
    flex: 1;
    flex-direction: column;
}
#twitter-logo{
    max-width: 70px;
    max-height: 70px;
}
h3:hover{
    cursor: pointer;
    color: blue;
}
#tweet{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: right;
}
#twitLonger{margin-top: 0;}
.longTweet{
    height: 30rem;
    max-width: 450px;
    border: 0 solid black;
    background-color: rgba(9, 28, 58, 0.5);
    border-radius: 6px;
    color: white;
    font-size: large;
}
#user-icon{
    max-height: 22px;
    position: absolute;
    float: left;
}