:root{
    --blue: #1e90ff;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    border-radius: none;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;
    line-height: 2em;
}
.left{
    border-right: 2px solid rgb(120, 120, 221);
    background-color: var(--blue);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right{
    width: 100%;
    background-image: url("../images/Elon-High.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 100px solid var(--blue);
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 8px;
    letter-spacing: 0.075em;
    padding: 12px 30px 12px 30px;
    text-align: center;
    max-width: 360px;
    width: 60%;
}

button:hover{
    background-color: var(--blue);
    cursor: pointer;
}
i{
    padding-right: 4px;
}