.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.post-header h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post-body {
  flex: 1;
  padding: 10px;
}
.post-badge {
  font-size: 14px;
}
